@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

:root {
    --font-family: "Open Sans", sans-serif;

    --primary-hue: 261.3559322034deg;
    --primary-saturation: 42.4460431655%;
    --primary-lightness: 27.2549019608%;
    
    --prime-color: hsl(
        var(--primary-hue),
        var(--primary-saturation),
        var(--primary-lightness)
    );
    --font-color: hsl(var(--primary-hue), var(--primary-saturation), 13%);
    --light-font-color: hsl(var(--primary-hue), var(--primary-saturation), 90%);
    --body-bg: hsl(var(--primary-hue), var(--primary-saturation), 97%);
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-wrap: break-word;
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--body-bg);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    all: unset;
    cursor: pointer;
}

input,
button,
textarea {
    font-family: var(--font-family);
    font-size: 1rem;
    outline: none;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.container .wrap {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
.login-form input {
    padding: 15px 20px;
    outline: none;
    border-radius: 3px;
    border: 1px solid hsl(var(--primary-hue), var(--primary-saturation), 85%);
    background: hsl(var(--primary-hue), var(--primary-saturation), 98.5%);
}
.login-form input:hover,
.login-form input:focus {
    border-color: hsl(var(--primary-hue), var(--primary-saturation), 50%);
}
.login-form input:focus {
    background-color: white;
}
.login-form input::placeholder {
    font-weight: bold;
    color: gray;
}
.login-form [type="submit"] {
    padding: 15px;
    cursor: pointer;
    background: var(--prime-color);
    color: var(--light-font-color);
    border: 1px solid var(--prime-color);
    border-radius: 3px;
    transition: 0.2s all;
    font-weight: bold;
}
.login-form [type="submit"]:hover {
    box-shadow: 0 10px 15px -3px hsla(var(--primary-hue), var(--primary-saturation), 7%, 0.1),
        0 4px 6px -4px hsla(var(--primary-hue), var(--primary-saturation), 7%, 0.1);
    transform: translateY(-5px);
    color: white;
}

ul.tp-login {
    all: unset;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    gap: 10px;
}
ul.tp-login a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(var(--primary-hue), var(--primary-saturation), 85%);
    background: hsl(var(--primary-hue), var(--primary-saturation), 98.5%);
    padding: 15px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.2s all;
}
ul.tp-login a:hover {
    box-shadow: 0 10px 15px -3px hsla(var(--primary-hue), var(--primary-saturation), 7%, 0.1),
        0 4px 6px -4px hsla(var(--primary-hue), var(--primary-saturation), 7%, 0.1);
    transform: translateY(-5px);
    border-color: hsl(var(--primary-hue), var(--primary-saturation), 50%);
}
ul.tp-login a img {
    width: 20px;
    margin-right: 7px;
}

.text-center {
    text-align: center;
}

.create-new a {
    font-weight: bold;
    text-decoration: underline;
}